.rootLayout {
    padding: 16px 64px;
    height: 100vh;
    /* để header + main xếp theo cột */
}

/* Header */
.rootLayout header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo trong header */
.rootLayout header .logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 8px;
}

.rootLayout header .logo img {
    width: 40px;
    height: 40px;
}

/* Main content */
.rootLayout main {
    flex: 1;
    overflow: hidden;
}
